<div id="<%= dom_id conteudo %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= conteudo.titulo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Materia:</strong>
    <%= conteudo.materia %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bimestre:</strong>
    <%= conteudo.bimestre %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Descricao:</strong>
    <%= conteudo.descricao %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Professor:</strong>
    <%= conteudo.professor_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Conteudo:</strong>
    <%= conteudo.conteudo %>
  </div>
</div>
