<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>SistemaAcademico</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-white text-black p-5 flex justify-between items-center
                 md:p-7">
        <h1 class="text-3xl font-bold
                  md: text-4xl">
          Turmaria</h1>
        <nav class="space-x-3.5
                    md:space-x-7">
          <a href="#" class="text-black hover:underline hover:text-blue-500 transition-colors duration-400">Escolas</a>
          <a href="#" class="text-black hover:underline hover:text-blue-500 transition-colors duration-400">Alunos</a>
          <a href="#" class="text-black hover:underline hover:text-blue-500 transition-colors duration-400">Professores</a>
        </nav>
    </header>
    <main>
      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
